@page "/"

<PageTitle>Bosh Sahifa</PageTitle>

<div style="display: flex; justify-content: center;">
	<MudText Typo="Typo.h4" GutterBottom="true"><strong>Sayt haqida malumot : </strong></MudText>
</div>


<div >
	<MudText Typo="Typo.h5" GutterBottom="true">

		<div style="text-align: justify;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Sayt 3 ta ishni amalga oshiradi.</strong></div>
		<div style="text-align: justify;">&nbsp;</div>
		<div style="text-align: justify;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Birinchisi </strong>- siz qilgan xarajatlarni saqlaydi va ularga oid malumotlarni, statistikalarni ko'rsatib turadi.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;<strong>Foydali tomonlari :</strong></div>
	
		<div>
			<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;1. o'rtacha haftaga, yoki oyiga qancha pul sarflashingizni bila olasiz.</p>
			<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2. odatda nimalarga ko'p pul sarflashingizni, aynan qancha mablag' ketganini ham aniq bila olasiz (bu orqali o'sha buyumlarga yoki to'lovlarga ketadigan xarajatni kamaytirish orqali pulingiz ancha tejashingiz mumkin).</p>
			<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;3. siz mablag'ingizni qayerga ketayotganligini bilib turasiz.</p>

		</div>
	
		<div style="text-align: justify;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Saytdan foydalanish</strong> - misol orqali tushuntiraman, misol siz biror futbolka sotib oldingiz.&nbsp;Birinchi qilinishi kerak bo'lgan ish <span style="text-decoration: underline;">katetoriya yaratish,</span> kategoriya bu sinf yoki biror guruhdir. Agar siz oziq-ovqat, kiyim-kechak ,yo'l-xarajatlari uchun alohida - alohida statistikalarni malumotlarni bilishni xoxlasangiz ular uchun alohida kategoriyalar ochib, sotib olgan buyumingiz qaysi kategoriyaga to'g'ri kelsa o'shanga qo'shish orqali siz oxirida ya'ni bir hafatadan yoki bir oydan so'ng har biri uchun alohida malumotlarni, umumiy qancha pul&nbsp;sarflaganligingizni bilishingiz mumkin. Yoki umumiy bitta kategoriya ochsangiz ham bo'ladi. Misolga qaytadigan bo'lsak futbolka uchun bitta kategoriya yaratishimiz kerak, buning uchun <strong>"Shaxsiy Kategoriya Yaratish"</strong> ni bosish kerak , so'ng kategoriya nom beriladi misol uchun "kiyim-kechaklar" , buni Nom degan joyiga yoziladi, Qo'shimcha malumot yozilsa ham bo'ladi yoki yozmasa ham bo'ladi. Ikkichi qilinishi kerak bo'lgan ish o'sha futbolkani <span style="text-decoration: underline;">xarajatni kategoriya qo'shish</span>. Buning uchun <strong>"Xarajat Qo'shish"</strong> ni bosiladi. Xarajat bu yerda siz pul sarflagan narsa, bizni misolda futbolka. Bir nechta narsalarni kiritish so'raladi. Ularni kiritish kerak. 'Kategoriyalar' degan joyiga biz yaratgan kategoriya yozilishi kerak yoki ustiga borib bosilsa o'zi bir nechta kategoriyalar chiqib keladi agar ular orasida bo'lsa o'sha joydan tanlasa ham bo'ladi. Endi statistikani bilish, <span style="text-decoration: underline;">kategoriya haqida malumot</span> olish uchun <strong>"Kategoriyalar"</strong> ni bosish kerak, shunda sizda mavjud bo'lgan hamma kategoriyalarni ko'rasiz. Sizga kategoriyalar listi&nbsp;ko'rinadi. Siz <span style="text-decoration: underline;">malumot olmoqchi bo'lgan kategoriyaga borib uni ustiga bossangiz</span> sizga u kategoriya haqida malumot va unga tegishli xarajatlar paydo bo'ladi. <span style="text-decoration: underline;">Statistikani bilish</span>ingiz uchun Xarajatlar listini tepasida turgan cardni chap tomon pastida joylashgan <span style="text-decoration: underline;">ikonkani bosish</span>ingiz kerak, shunda sizga statistika ko'rinadi.</div>
		<div style="text-align: justify;">&nbsp;</div>
		<div style="text-align: justify;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Ikkinchisi</strong> - bir nechta odamdan iborat bo'lgan bir guruhning xarajatlarni saqlaydi va ularga oid malumotlarni, statistikalarni ko'rsatib turadi.</div>
		<div style="text-align: justify;">
			<div style="text-align: justify;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>Foydali tomonlari :</strong></div>

			<div>
				<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 1. guruhdagi har bir inson qanchagan pul sarflaganini va nimaga sarflaganini hamma ko'rib tura oladi.</p>
				<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2. umumiy xarajatlar yig'indisi hisoblab hammaga teng miqdorda taqsimlab beradi. Har bir odam qancha pul berishi yoki qancha pul olishini bilib oladi.</p>
			</div>

		</div>
		<div style="text-align: justify;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Saytdan foydalanish&nbsp; - </strong>misol uchun kvartirada turadigan bir guruh talabalar bor. Birinchi qilinishi kerak bo'lgan ish <span style="text-decoration: underline;">katetoriya qo'shish</span>. Bir guruh studentlar uchun bitta kategoriya yaratilishi kerak. Buning uchun <strong>"Ommaviy Kategoriyaga Yaratish"</strong> ni bosish kerak so'ng kerakli bo'shliqlarni to'ldiriladi masalan nom degan joyiga "studentKV" yosa bo'ladi va parol degan joyiga parol qo'yish kerak misol uchun "student12" - bu parolni qolgan&nbsp;guruh a'zolariga berish kerak. Guruhni yaratgan, kategoriya ochgan odam admin sifatida guruhga qo'shiladi. Ikkinchi qilinishi kerak bo'lgan ish <span style="text-decoration: underline;">boshqa a'zolarni guruhga qo'shilishi</span> buning uchun ularning har biri "<strong>Ommaviy Kategoriyaga Qo'shilish"</strong> ga bosishi kerak. So'ng yaratilgan bizning misolimizda
"studentKV" ni kategori nomiga, parolga esa "student12" ni yozish orqali kategoriyaga qo'shilishi kerak. Uchinchi qilinishi kerak bo'lgan ish <span style="text-decoration: underline;">xarajat qo'shish</span> bu xuddi oldingi misoldagi futbolkani qo'shganimizdek qo'shiladi. Kategoriya haqida malumotlar xuddi oldingidek ko'riladi. Statistika ham oldingidek ko'riladi.</div>
		<div style="text-align: justify;">&nbsp;</div>
		<div style="text-align: justify;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Uchinchisi</strong> - Ikki kishi o'rtasidagi qarzlarni saqlaydi va ularga oid malumotlarni, statistikalarni ko'rsatib turadi.</div>
		<div style="text-align: justify;">
			<div style="text-align: justify;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Foydali tomonlari :</strong></div>

			<div>
				<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;1. Ikkida odam o'rtasidagi qarzni saqlaydi. Ikkala odam ham uni ko'rib tura oladi. Bunda ikkala odam ham bu qarzni yaratishda ishtirok etadi. Yaratilgan qarz o'z-o'zidan yoki bir kishi tomonidan o'chirila olmaydi, ikkila odamni roziligi bilan qarz o'chirilib tashlanadi (bu degani siz kimgadir qarz bersangiz va uni ikkichi odam  tasdiqlasa, u qarz sizning roziligingizsiz o'chirilmaydi va u odam ham uni qarzni ko'rib turadi).</p>
				<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2. umumiy hisoblaganda qanch pul olishingizni yoki berishingizni hisoblab beradi.</p>

			</div>

		</div>
		<div style="text-align: justify;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Saytdan foydalanish&nbsp; - </strong>misol uchun siz Umid degan do'stingizga<strong> </strong> 50 ming so'm pul berib turdingiz. Birinchi qilinishi kerak bo'lgan ish - <span style="text-decoration: underline;">qarzni yaratish</span> buning uchun <strong>"Qarz Qo'shish"</strong> ni bosing va pulning miqdori yani bizni misolda "50", 2- shaxsning ismi "Umid" (bunda Umid ham saytdan ro'yxatdan o'tgan bo'shili kerak), Pul berilishi kerak bo'lgan shaxsning ismi nomi&nbsp;
			"o'zingizni ismingiz", agar Umidga berishingiz kerak bo'lsa "Umid" , qaytarilish sanasi yozish ixtiyoriy, shularni to'ldirib qarz qo'shish bosiladi. Qarzni pul olgan yoki bergan shaxs ham yarata oladi bunda Pul berilishi kerak bo'lgan shaxsning ismi degan joyiga bir xil ism yoziladi. Ikkinchi qilinishi kerak bo'lgan ish <span style="text-decoration: underline;">ikkinchi shaxsni tasdiqlashi</span>. Endi Umid saytga kirganida saytni tepa o'ng qismida <span style="text-decoration: underline;">qo'ng'iroqcha shaklidagi ikonka</span> chiqib turadi. Buni bossa turli xil mazmundagi xabarnomalarni ko'ra oladi. Bularni ichida siz yuborgan xabar ham mavjud bo'ladi agar rostan ham pul olgan bo'lsa kiritgan malumotlaringiz uni qanoatlantirsa&nbsp;<span style="text-decoration: underline;">to'g'ri degan manoni beruvchi ikonkani bosib</span> qarzni qo'shilishini tasdiqlaydi. <span style="text-decoration: underline;">Qarzni ko'rish</span> uchun <strong>"Umumiy Qarzlar"</strong> ni bosing. <span style="text-decoration: underline;">Statistikani ko'rish</span> uchun listni tepasidagi <span style="text-decoration: underline;">cardning pastki o'ng tomonidagi ikonkani</span> bosing.
		</div>
		</MudText>
</div>